---
# Baseline is Google style
BasedOnStyle: Google

# Indentation settings
AccessModifierOffset: -1
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100

# Language
Language: Cpp
Standard: Cpp11

# Braces
BreakBeforeBraces: Attach
NamespaceIndentation: None

# Line breaks
AlwaysBreakTemplateDeclarations: true
BreakConstructorInitializersBeforeComma: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
Cpp11BracedListStyle: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# Spaces vs. Tabs
SpacesBeforeTrailingComments: 2
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false

# Alignment
AlignEscapedNewlinesLeft: true
AlignTrailingComments: true
PointerAlignment: Left

# Include sorting
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*\.h>'
    Priority: 1
  - Regex: '^<.*'
    Priority: 2
  - Regex: '.*'
    Priority: 3
---
